:host {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;

  .logo {
    width: 160px;
    height: 64px;
    margin: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://d2iag9moi5ipwc.cloudfront.net/assets/images/logo_dasdra_h.svg);
  }

  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
    padding: 32px;

    .cellphone,
    .document-input {
        min-width: 150px;

        .input-group {
            padding: 2px 0;

            .addon {
                padding: 6px 0 6px 12px;
                min-width: 82px;
            }

            input {

                &::placeholder {
                    padding-right: 36px;
                }
            }

            ::ng-deep ser-select {
                .dropdown-list {
                    width: 200px !important;

                    .ind {
                        min-width: 27px;
                    }
                }

                .phone-ind-item {
                    font-size: var(--input-font-size);
                }

                .selected-list .controls {
                    margin-left: 0;
                }
            }
        }
    }

  }
}
