
$S3_BUCKET: 'kimed';
$CLOUDFRONT_ID: 'd2iag9moi5ipwc';
$primary_color: #5c2086;
$primary_color_dark: #00adff;

$icon_purple_color: #933b6c;
$icon_blue_color: #4890fc;
$icon_green_color: #209551;
$icon_red_color: red;
$icon_magenta_color: #FF2366;
$icon_orangered_color: orangered;
$icon_orange_color: orange;
$icon_yellow_color: yellow;
